{%extends "AppCoder/padre.html"%}

{% load static%}
{%block titulo%} esta es la pagina de inicio{%endblock%}
{%block contenido_que_cambia%}
    <h1>Formulario de Alta de Curso</h1>

    <form action="{%url 'estudianteFormulario' %}" method="post">{%csrf_token%}
        <label for="nombre">Nombre del estudiante</label>
        <input id="nombre" type="text" name="nombre" placeholder="Nombre" />
        <label for="apellido">Apellidos del estudiante:</label>
        <input id="apellido" type="text" name="apellido" placeholder="Apellidos" />
        <label for="email">Correo electronico del estudiante:</label>
        <input id="email" type="text" name="email" placeholder="Email" />
        <input type="submit" value="Guardar Estudiante" />
      </form>
    
      <h3>{{mensaje}}</h3>

{% endblock %}