<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Nombre: {{Nombre}}</p>
    <p>Apellido: {{Apellido}}</p>
    <p>Edad: {{Edad}}</p>

    <h2>Notas</h2>
    {%for nota in listanotas%}
        
        {%if nota >= 6%}
        <p>Nota aprobada: {{nota}}</p>
        {%else%}
        <p>Nota reprobada: {{nota}}</p>
        {%endif%}
    
    {%endfor%}
</body>
</html>